*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 15px;
    margin: 0 auto;
}
.grid img{
    border-radius: 10px 15px 10px 15px;
    /* border: 2px solid black; */
    padding:10px;
    width: 200px;
    height: 200px;
    transition: .2s linear;

}



@media (max-width:430px){
    .grid img{
        width: 180px;
        height: 180px;
    }
}